@import 'compass/css3/border-radius';

.quiz {
  .question {
    background: $gray-lighter;
    padding: 30px;
    @include border-radius(5px);

    .answer {
      margin-bottom: 5px;
      label {
        input {
          margin-right: 5px;
        }
      }
    }
  }
}

.quiz_results {
  .result {
    padding: 30px;
  }

  .answer {
    @include border-radius(5px);
    padding: 30px;

    &.correct {
      background-color: $state-success-bg;
    }

    &.incorrect {
      background-color: $state-danger-bg;
    }
  }
}