.container
  .row
    %form.center-block.authentication-form{name: 'signin_form', 'ng-submit' => 'signin()'}
      %h2 Sign in
      %input.email.form-control{name: 'email', type: 'email', placeholder: 'Email address', 'ng-model' => 'user.email', required: true, autofocus: true}
      %input.password.form-control{name: 'password', type: 'password', placeholder: 'Password', 'ng-model' => 'user.password', required: true}
      %br
      %button.btn.btn-lg.btn-primary.btn-block{type: 'submit', 'ng-disabled' => 'signin_form.$invalid'}
        Sign in
      %br
      %a{href: '#/register'} Click here to register
