.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
  .container
    .navbar-header
      %a.navbar-brand Quiz Time!
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right{'ng-if' => 'current_user'}
        %li
          %a{href: '#'}
            {{current_user.username}}
        %li.divider
        %li
          %a{href: '#', 'ng-click' => 'sign_out()'} Sign Out
